body {
    background-color: #39393a;
    padding: 25px 25px 25px 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px 45px;
    text-decoration: none;
}

li a:hover {
    background-color: #1d1d1d;
}

.active {
    background-color: #1d1d1d;
}